*{
margin:0;
padding: 0;
box-sizing: border-box;

}


.nav1{
    border: 2px solid orangered;
    width: 100%;
    height:170px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;

    position: fixed;
}

.cntre{

    
    margin-top: 10px;
    /* border: 2px solid greenyellow;  */
    width:1450px; /* 1460 */
    height:90px ;
    display:flex;
    /* flex-direction: row; */
    
    align-items: center;
    justify-content:center;


}

.box1{
    
    /* border: 2px solid rgb(47, 57, 255); */
    width:350px;
    height:70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   

}
.brand1{
    color:rgb(198, 160, 115);
    background-color: transparent;
    font-size: 2.3rem;
    font-family: inherit;
}

.brand2{
    color: rgb(var(--color-link));
    color:rgb(143, 134, 110);
    background-color: transparent;
    font-size:11pt;
    font-family: inherit;

    /* text-align: left; */
    /* float: right; */
}

.box2{
    /* border: 3px solid rgb(255, 158, 47); */
    width:740px;
    height:70px ;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.search1{
    /* border: 1px solid rgb(143, 134, 110); */
    width: 700px;
    height: 50px;
    font-size: 1.1em;
    border-radius: 5px;
    flex-grow: 1;
    padding: 20px;
    color: rgb(18 18 18 / 75%);
    cursor: pointer;
    margin-right: 50px;
    /* text-align: r; */
    /* padding: 1.5rem; */
    /* margin: var(--inputs-border-width); */
}

.search1:hover{
  border: 3px solid rgb(18 18 18 / 75%);
}

.box3{
    /* border: 2px solid rgb(255, 47, 54); */
    width:370px;
    height:70px;
    display: flex;

}

.a1{
    /* border: 2px solid blue; */
    width: 92px;
    height: 70px;
     
}
.b1{
    /* border: 2px solid rgb(255, 47, 54); */
    width: 100%;
    height:35px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
    /* transition-duration:1s;
    transform:translate();
    transition-timing-function: ease-out;
    transition-delay: 2s; */

    /* transition: 3s 1s linear; */
    transition: yellow 3s 1s linear;
   
  
    
}

.b1:hover{
    transition: yellow 3s 1s linear;
}

far fa-heart:hover{
    transition: background-color(yellow) 1s 1s linear;
}

.fa-solid fa-store{
    width: 100px;
    height: 60px;
}

.b2{
    /* border:3px solid black; */
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 0.7rem;
    gap: 7px;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    


   
}

.box4{
    /* border: 2px solid red; */
    width: 1450px;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}



.c1{
    /* border: 1px solid red; */
    width: 200px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: row; */
}

.c2{
    list-style: none;
}
.pd2{
    color: rgb(18,18,18);
    text-decoration: none;
 /* font-family: inherit; */
 /* letter-spacing: 0.04rem; */

}

.far fa-heart:hover{
    transition-duration:3s;
    transform: rotate(45 deg);
    transition-timing-function: ease-in-out;
    transition-delay: 5s;

     
}

.pd2:hover{
    text-decoration:underline;
   
}